astroid==2.15.8
attrs==25.3.0
bandit==1.8.6
black==25.1.0
cfgv==3.4.0
click==8.2.1
colorama==0.4.6
coverage==7.9.1
distlib==0.3.9
eradicate==2.3.0
filelock==3.18.0
flake8==6.1.0
flake8-bandit==4.1.1
flake8-bugbear==24.12.12
flake8-comprehensions==3.16.0
flake8-eradicate==1.5.0
identify==2.6.12
iniconfig==2.1.0
isort==6.0.1
lazy-object-proxy==1.11.0
mando==0.7.1
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
pbr==7.0.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.19.2
pytest==7.4.3
pytest-cov==6.2.1
python-dotenv==1.0.0
PyYAML==6.0.2
radon==6.0.1
rich==14.1.0
setuptools==80.9.0
six==1.17.0
stevedore==5.4.1
tqdm==4.67.1
tree-sitter==0.24.0
tree-sitter-c-sharp==0.23.1
tree-sitter-embedded-template==0.23.2
tree-sitter-javascript==0.23.1
tree-sitter-language-pack==0.9.0
tree-sitter-python==0.23.6
tree-sitter-yaml==0.7.1
virtualenv==20.31.2
wrapt==1.17.2
