black==25.1.0
cfgv==3.4.0
click==8.2.1
colorama==0.4.6
coverage==7.9.1
distlib==0.3.9
filelock==3.18.0
identify==2.6.12
iniconfig==2.1.0
isort==6.0.1
mando==0.7.1
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
pytest==7.4.3
pytest-cov==6.2.1
python-dotenv==1.0.0
PyYAML==6.0.2
radon==6.0.1
six==1.17.0
tqdm==4.67.1
tree-sitter==0.24.0
tree-sitter-javascript==0.23.1
tree-sitter-python==0.23.6
virtualenv==20.31.2
